*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.text-wrapper{
	display: flex;
	justify-content: flex-start;
	background: #003049;
	overflow: hidden;
}

p{	
	margin-left: 70px;
	font-size: 40px;
	color: transparent;
	-webkit-text-stroke-width: 2px;
	-webkit-text-stroke-color: #ffffff;
	text-stroke-color: #ffffff;
	white-space: nowrap;
	padding: 0;
	letter-spacing: 1px;
	animation: move-rtl 3000ms linear infinite;
}

@keyframes move-rtl{
	0%{
		transform: translateX(0);
	}
	100%{
		transform: translateX(-100%);
	}
}